@font-face {
    font-family: "MemphisRiver";
    src: url(fonts/MemphisRiver.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roblox";
    src: url(fonts/Roblox-Font-Regular.ttf) format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Roblox1";
    src: url(fonts/Roblox-Font-Bold.ttf) format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "Bangers";
    src: url(https://fonts.google.com/specimen/Banger) format("truetype");
  }

	h1{
    color:white;
    font-size: 300%;
   
   font-family: "MemphisRiver",sans-serif;
}
h2{
    color:yellow;
    font-size: 200%;
    
  
   font-family: "Roblox",sans-serif;
}
h3{
    color:yellow;
    font-size: 200%;
  
   font-family: "Roblox",sans-serif;
}
h4{
    color:yellow;
    font-size: 200%;
  
   font-family: "Roblox",sans-serif;
}
h5{
    color:yellow;
    font-size: 200%;
  
   font-family: "Roblox",sans-serif;
}
h6{
    color:yellow;
    font-size: 200%;
  
   font-family: "Roblox",sans-serif;
}


	body{
        display:flex;
        flex-direction: column;

    background-color: #12AB91;
    align-items: center;
    
    
    }
    .item h2{
        color:red;
        font-weight: bold;
       position: absolute;
       top: 50%;
       left: 50%;
    transform:translate(-50%,-50%) ;
    opacity: 0;
   
    } 
    .item:hover h2{
        opacity: 1;
    }
    .item:hover img{
        opacity: 1.0;
    }
    .item{
        display:flex;
        flex-direction: column;
        position:relative;
        background-color:#1441;
        align-items: center;
        border:solid ;
        margin: 20px;
        padding: 10px;
        border-color: #2016ab;
        border-width: 10px;
        border-radius: 20px;
    
    }
    .object{
        color: yellow;
        stroke: black;
        stroke-width: 1000%;
        font-size: 110%;
    }

    .h11{
        color:black;
        font-size: 200%;
       
       font-family: "MemphisRiver",sans-serif;
    }
    .imp{
        color: yellow;
        -webkit-text-stroke: 1px yellow;

        stroke-width: 1000%;

        font-size: 120%;
    }

    .h12{
        color: black;
        font-size: 100%;
       
       font-family: "MemphisRiver",sans-serif;
    }
    .imp1{
        color: yellow;
       

        stroke-width: 1000%;

        font-size: 120%;
    }
    .imp2{
        color: black;
        -webkit-text-stroke: 1px  black;

        stroke-width: 1000%;

        font-size: 120%;
    }
